/* Apply border-box sizing model to all elements */
* {
  box-sizing: border-box;
}

/* Set font for the body */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style div elements */
div {
  width: 430px; /* Set width of the div */
  margin: 150px auto; /* Center the div with margin */
}

/* Style input elements */
input {
  border: none; /* Remove border */
  padding: 15px; /* Add padding inside the input */
  background-color: #fbfbfb; /* Set background color */
  width: 100%; /* Set input width to 100% of its container */
  border-bottom: 2px solid #d7d7d7; /* Add bottom border */
}

/* Style input elements on focus */
input:focus {
  outline: none; /* Remove outline when focused */
}

/* Style progress bar */
.progress {
  background-color: #2196f3; /* Set background color for progress bar */
  height: 2px; /* Set height of the progress bar */
  width: 0; /* Initial width of the progress bar */
  display: block; /* Display element as block */
  position: relative; /* Set position to relative */
  top: -2px; /* Move element 2px up */
  transform: 0.5s; /* Apply transition over 0.5 seconds */
}

/* Style count element */
.count {
  display: block; /* Display element as block */
  text-align: right; /* Align text to the right */
  font-size: 12px; /* Set font size */
  padding: 5px; /* Add padding inside the element */
}

/* Style zero count */
.zero {
  font-weight: bold; /* Make text bold */
  color: red; /* Set text color to red */
}

/* Response section */
@media (max-width: 530px) {
    div {
        padding: 50px;
    }
}
